doctype html
html(lang="ru")
  block head
    include ../blocks/head
  body(class="page")
    block header
      include ../blocks/header
    block main
    block footer
      include ../blocks/footer
    block scripts
      include ../blocks/scripts
