.impression {
  padding-bottom: 19px;

  @media (min-width: $tablet) {
    width: 324px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -1px;

      width: 1px;
      height: 292px;

      background-color: $primary-darker14;
    }
  }

  @media (min-width: $desktop) {
    width: 480px;
  }

  &__title {
    padding-bottom: 37px;

    @media (min-width: $tablet) {
      padding-bottom: 73px;
      text-align: left;
    }

     @media (min-width: $desktop) {
       margin-left: 79px;
    }
  }
  
  &__list {
    font-size: $big-size;
    font-weight: $bold-weight;
    line-height: $big-height;
    color: $primary-darker100;
    text-align: left;
    text-transform: none;
  }

  &__item {
    padding-bottom: 43px;
    padding-left: 78px;

    @media (min-width: $tablet) {
      padding-bottom: 52px;
      padding-left: 76px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 52px;
      padding-left: 80px;
    }
  }

  &__field + label {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -15px;
      left: -78px;

      width: 56px;
      height: 56px;
      border-radius: 50%;

      background-color: $primary-darker5;

      @media (min-width: $tablet) {
        left: -76px;
      }
    }
  }

  &__field:hover + label {
    &::before {
      background-color: $primary-darker10;
    }
  }

   &__field:focus + label {
    &::before {
      box-shadow: 0 0 2px 1px $chrome-outline;
    }
  }

  &__field:active + label {
    &::before {
      background-color: $primary-darker16;
    }
  }

  &__field:active + label {
    &::after {
      opacity: 0.3;
    }
  }

  &__field:checked + label {
    &::after {
      position: absolute;
      content: "";
      top: 2px;
      left: -61px;

      width: 22px;
      height: 22px;
      border-radius: 50%;

      background-color: $primary-darker80;

      @media (min-width: $tablet) {
        left: -59px;
      }
    }
  }
}
