.introduce {
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    order: 1;
    padding-left: 58px;
    width: 324px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    padding-left: 79px;
    width: 480px;
  }

  &__title {
    padding-bottom: 20px;

    @media (min-width: $tablet) {
      padding-bottom: 56px;

      text-align: left;
    }
  }
  
  &__list {
    text-align: left;
  }

  &__item {
    display: flex;
    padding-bottom: 19px;
  }

  &__label {
    flex-shrink: 0;
    padding-top: 18px;
    padding-right: 15px;
    
    line-height: 26px;
  }

  &__field {
    flex-grow: 1;
    width: 100%;
    padding: 13px 18px 12px;
    border: 4px solid $primary-darker5;

    font-size: $big-size;
    font-weight: $bold-weight;
    line-height: $big-height;
    color: $primary-darker100;

    background-color: $primary-darker5;

    &::placeholder {
      font: inherit;
      opacity: 0.5;
    }

    &:hover{
      border: 4px solid $primary-darker10;

      background-color: $primary-darker10;
    }

    &:focus {
      background-color: $primary;
      outline: none;
    }
  }
  
  &__required {
    position: relative;
    top: -2px;
    left: 0;
  }
}
