.map {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  
  &__iframe {
    position: absolute;
    border: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  &__picture {
    display: block;
    position: relative;
    z-index: -1;
    
    &::before {
      position: absolute;
      content: "";

      width: 27px;
      height: 27px;
      border-radius: 50%;

      background-color: $primary;

      @media (min-width: $mobile) {
        top: 160px;
        left: 146px;
      }

      @media (min-width: $tablet) {
        top: 164px;
        left: 370px;
      }

      @media (min-width: $desktop) {
        top: 162px;
        left: 586px;
      }
    }

     &::after {
      position: absolute;
      content: "";

      width: 17px;
      height: 17px;
      border-radius: 50%;

      background-color: $secondary;

      @media (min-width: $mobile) {
        top: 165px;
        left: 151px;
      }

      @media (min-width: $tablet) {
        top: 169px;
        left: 375px;
      }

       @media (min-width: $desktop) {
        top: 167px;
        left: 591px;
      }
    }
  }
}
