.photos {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    padding-bottom: 40px;

    text-align: left;
    
    &::after {
      position: absolute;
      content: "";
      bottom: 22px;
      left: -20px;

      width: 320px;
      height: 1px;

      background-color: $primary-darker10;

      @media (min-width: $tablet) {
        display: none;
      }
    }

    @media (min-width: $tablet)  {
      padding-bottom: 9px;

      background-color: $primary-darker5;
    }
    @media (min-width: $desktop) {
      padding-bottom: 0;
    }
  }

  &__card {
    margin: 0;
  }
  
  &__picture {
    display: block;
    padding-bottom: 15px;

    @media (min-width: $desktop) {
      padding-bottom: 0;
    }
  }

  &__caption {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }

    @media (min-width: $desktop) {
      position: absolute;
      content: "";
      top: 187px;
      left: 0;
      
      width: 400px;
      padding: 15px 22px 9px;
      box-sizing: border-box;

      background-color: fade-out($primary-darker100, 0.6);

      &--big {
        top: 320px;

        width: 1200px;
      }
    }
  }

  &__title {
    font-size: $normal-size;
    line-height: $normal-height;

    @media (min-width: $desktop) {
      color: $primary;
    }
  }

  &__author {
    padding-bottom: 8px;

    text-transform: none;

    @media (min-width: $desktop) {
      color: $primary;
    }
  }

  &__input + label {
    padding-left: 37px;
    position: relative;

    font-weight: $bold-weight;
    color: $primary-darker100;
    
    &::before {
      position: absolute;
      content: "";
      top: -4px;
      left: 0;

      width: 24px;
      height: 20px;

      background-image: url(../img/like-mobile.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;

      cursor: pointer;
    }
    
    @media (min-width: $tablet) {
      width: 32px;
      padding-top: 14px;
      
      &::before {
        top: 11px;
        left: 5px;  
      }
    }
    @media (min-width: $desktop) {
      color: $primary;
      
      &::before {
        background-image: url(../img/like-desktop.svg);
        background-size: 24px 21px;
      }
    }
  }
  
  &__input:checked + label {
    &::before {
      background-image: url(../img/like-checked.svg);
    }
  }
}
