fieldset(class="emotions form__group")
  legend(class="title emotions__title") Опишите свои эмоции:
  ul(class="emotions__list")
    li(class="emotions__item")
      = '\n'
      textarea(class="emotions__field" name="emotions" placeholder="Опишите подробно все свои восторги")
