section(class="hotel index__section")
  h2(class="title hotel__title")
    | Заинтересовались?
  p(class="hotel__description")
    | Укажите предполагаемые даты поездки,&nbsp;
    br(class="break break--tablet break--desktop")
    | и мы покажем вам лучшие предложения гостиниц в Седоне
  = '\n'
  a(class="btn hotel__btn" href="#") Найти гостиницу
