ul(class="menu header__list")
  li(class="menu__item")
    = '\n'
    a(class="btn menu__link menu__link--index" href="index.html") Главная
  li(class="menu__item")
    = '\n'
    a(class="btn menu__link menu__link--media" href="media.html") Фото и видео
  li(class="menu__item")
    = '\n'
    a(class="btn menu__link menu__link--form" href="feedback.html") Форма отзыва
  li(class="menu__item")
    = '\n'
    a(class="btn menu__link menu__link--contacts" href="#") Контакты
