ul(class="real-city reasons__list")
  li(class="real-city__item real-city__item--house")
    p(class="title real-city__title") Жилье
    p(class="real-city__description") Рекомендуем пожить в настоящем мотеле, всё как в кино!
  li(class="real-city__item real-city__item--gift")
    p(class="title real-city__title") Сувениры
    p(class="real-city__description")
      | Не только китайского, но и&ensp;
      br(class="break break--desktop")
      | местного производства!
  li(class="real-city__item real-city__item--burger")
    p(class="title real-city__title") Еда
    p(class="real-city__description")
      | Всегда заказывайте фирменный бургер,&nbsp;
      br(class="break break--tablet break--desktop")
      | вы не разочаруетесь!
