ol(class="reasons advantages__list")
  li(class="reasons__item")
    div(class="reasons__wrapper reasons__wrapper--one")
      h3(class="title reasons__title")
        | Настоящий
        br(class="break break--tablet break--desktop")
        |  городок
      p(class="number reasons__number") &ndash; №1 &ndash;
      p(class="reasons__description")
        | Седона не аттракцион для туристов,&ensp;
        br(class="break break--desktop")
        | там течёт своя жизнь
    picture(class="reasons__picture")
      source(type="image/webp" media="(min-width: 1200px)" srcset="img/city-desktop@1x.webp, img/city-desktop@2x.webp 2x")
      source(media="(min-width: 1200px)" srcset="img/city-desktop@1x.jpg, img/city-desktop@2x.jpg 2x")
      source(type="image/webp" media="(min-width: 768px)" srcset="img/city-tablet@1x.webp, img/city-tablet@2x.webp 2x")
      source(media="(min-width: 768px)" srcset="img/city-tablet@1x.jpg, img/city-tablet@2x.jpg 2x")
      source(type="image/webp" srcset="img/city-mobile@1x.webp, img/city-mobile@2x.webp 2x")
      = '\n'
      img(class="reasons__image reasons__image--city" src="img/city-mobile@1x.jpg" srcset="img/city-mobile@2x.jpg 2x" alt="Дом с флагами США")
    include real-city
  li(class="reasons__item")
    div(class="reasons__wrapper reasons__wrapper--two")
      h3(class="title reasons__title")
        | Там есть&nbsp;
        br(class="break break--tablet break--desktop")
        | мост дьявола
      p(class="number reasons__number") &ndash; №2 &ndash;
      p(class="reasons__description")
        | Да, по нему можно пройти!&nbsp;
        br(class="break break--desktop")
        | Если вы осмелитесь, конечно
    picture(class="reasons__picture")
      source(type="image/webp" media="(min-width: 1200px)" srcset="img/bridge-index-desktop@1x.webp, img/bridge-index-desktop@2x.webp 2x")
      source(media="(min-width: 1200px)" srcset="img/bridge-index-desktop@1x.jpg, img/bridge-index-desktop@2x.jpg 2x")
      source(type="image/webp" media="(min-width: 768px)" srcset="img/bridge-index-tablet@1x.webp, img/bridge-index-tablet@2x.webp 2x")
      source(media="(min-width: 768px)" srcset="img/bridge-index-tablet@1x.jpg, img/bridge-index-tablet@2x.jpg 2x")
      source(type="image/webp" srcset="img/bridge-index-mobile@1x.webp, img/bridge-index-mobile@2x.webp 2x")
      = '\n'
      img(class="reasons__image reasons__image--bridge" src="img/bridge-index-mobile@1x.jpg" srcset="img/bridge-index-mobile@2x.jpg 2x" alt="Каменный мост над пропастью")
  li(class="reasons__item")
    div(class="reasons__wrapper reasons__wrapper--three")
      h3(class="title")
        | Небольшая&nbsp;
        br(class="break break--tablet break--desktop")
        | площадь
      p(class="number reasons__number") &ndash; №3 &ndash;
      p(class="reasons__description") Все интересные места находятся очень близко
  li(class="reasons__item")
    div(class="reasons__wrapper reasons__wrapper--four")
      h3(class="title")
        | Красивая&nbsp;
        br(class="break break--tablet break--desktop")
        | дорога
      p(class="number reasons__number") &ndash; №4 &ndash;
      p(class="reasons__description")
        | Ехать в Седону из&nbsp;
        br(class="break break--tablet")
        | Лас-Вегаса&nbsp;
        br(class="break break--mobile")
        | совсем&nbsp;
        br(class="break break--tablet break--desktop")
        | не скучно!
  li(class="reasons__item")
    div(class="reasons__wrapper reasons__wrapper--five")
      h3(class="title")
        | Мало&nbsp;
        br(class="break break--tablet break--desktop")
        | туристов
      p(class="number reasons__number") &ndash; №5 &ndash;
      p(class="reasons__description")
        | Большинство едет в Гранд Каньон&nbsp;
        br(class="break break--mobile")
        | и толпится там
