section(class="response feedback__section")
  h2(class="title response__title") Оставьте свой отзыв
  p(class="response__subtitle")
    | Помогите нашим отелям стать лучше! Оставьте отзыв о них,&nbsp;
    br(class="break break--tablet break--desktop")
    | а также о посещённых вами достопримечательностях
  include form
  include failure
  include success
