div(class="modal success response__modal" hidden)
  div(class="success__wrapper")
    h2(class="title modal__title success__title") Ваш отзыв отправлен!
    p(class="success__message") 
      | Спасибо за ваше участие, ваш отзыв уже поступил к нам.&nbsp;
      br(class="break break--mobile break--tablet") 
      | В ближайшее время мы опубликуем его на сайте.
  = '\n'
  button(class="btn success__btn" type="button") Ок
