extends layout/mainTemplate

block main
  main(class="feedback page__main")
    include components/response

block scripts
  script(src="js/mobileMenu.min.js" async)
  script(src="js/modal.min.js" async)

