extends layout/mainTemplate

block header
  include blocks/indexPageHeader

block main
  main(class="index page__main")
    include components/advantages
    include components/hotel
    include components/map
    
block scripts
  script(src="js/mobileMenu.min.js" async)
