extends layout/mainTemplate

block main
  main(class="media")
    include components/gallery
    include components/video

block scripts    
  script(src="js/mobileMenu.min.js" async)
  script(src="js/likes.min.js" async)
